.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 100vh;
  background-color: black;
}

.blog-card {
  width: 28rem;
  margin: 1rem;
  padding: 1rem;
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.2); /* Blue color with 50% opacity */
}

.edit-form {
  width: 35%;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid blue;
}

.home {
  width: 80%;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid blue;

}